<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>imagePath</key>
	<string>PokemonBoard.png</string>
	<key>squareDiameter</key>
	<integer>188</integer>
	<key>squares</key>
	<array>
		<dict>
			<key>center</key>
			<string>{296.0,294.0}</string>
			<key>playerMustStop</key>
			<false/>
		</dict>
		<dict>
			<key>center</key>
			<string>{296.0,482.0}</string>
			<key>playerMustStop</key>
			<false/>
		</dict>
		<dict>
			<key>extraTurn</key>
			<true/>
			<key>center</key>
			<string>{296.0,670.0}</string>
			<key>playerMustStop</key>
			<false/>
		</dict>
		<dict>
			<key>center</key>
			<string>{296.0,858.0}</string>
			<key>playerMustStop</key>
			<false/>
		</dict>
		<dict>
			<key>switchToPikachu</key>
			<true/>
			<key>center</key>
			<string>{296.0,1046.0}</string>
			<key>playerMustStop</key>
			<false/>
		</dict>
		<dict>
			<key>center</key>
			<string>{296.0,1234.0}</string>
			<key>playerMustStop</key>
			<false/>
		</dict>
		<dict>
			<key>center</key>
			<string>{296.0,1422.0}</string>
			<key>playerMustStop</key>
			<true/>
		</dict>
		<dict>
			<key>center</key>
			<string>{296.0,1610.0}</string>
			<key>playerMustStop</key>
			<false/>
		</dict>
		<dict>
			<key>center</key>
			<string>{296.0,1798.0}</string>
			<key>playerMustStop</key>
			<false/>
		</dict>
		<dict>
			<key>center</key>
			<string>{482.0,1798.0}</string>
			<key>playerMustStop</key>
			<false/>
		</dict>
		<dict>
			<key>center</key>
			<string>{670.0,1798.0}</string>
			<key>extraTurn</key>
			<true/>
			<key>playerMustStop</key>
			<false/>
		</dict>
		<dict>
			<key>teleportToIndex</key>
			<integer>28</integer>
			<key>center</key>
			<string>{858.0,1798.0}</string>
			<key>playerMustStop</key>
			<false/>
		</dict>
		<dict>
			<key>center</key>
			<string>{1046.0,1798.0}</string>
			<key>playerMustStop</key>
			<false/>
		</dict>
		<dict>
			<key>center</key>
			<string>{1234.0,1798.0}</string>
			<key>playerMustStop</key>
			<true/>
		</dict>
		<dict>
			<key>center</key>
			<string>{1422.0,1798.0}</string>
			<key>playerMustStop</key>
			<false/>
		</dict>
		<dict>
			<key>center</key>
			<string>{1610.0,1798.0}</string>
			<key>playerMustStop</key>
			<false/>
		</dict>
		<dict>
			<key>center</key>
			<string>{1798.0,1798.0}</string>
			<key>playerMustStop</key>
			<false/>
		</dict>
		<dict>
			<key>center</key>
			<string>{1798.0,1610.0}</string>
			<key>playerMustStop</key>
			<false/>
		</dict>
		<dict>
			<key>center</key>
			<string>{1798.0,1422.0}</string>
			<key>playerMustStop</key>
			<false/>
		</dict>
		<dict>
			<key>center</key>
			<string>{1798.0,1234.0}</string>
			<key>playerMustStop</key>
			<true/>
		</dict>
		<dict>
			<key>center</key>
			<string>{1798.0,1046.0}</string>
			<key>playerMustStop</key>
			<false/>
		</dict>
		<dict>
			<key>center</key>
			<string>{1798.0,858.0}</string>
			<key>playerMustStop</key>
			<false/>
		</dict>
		<dict>
			<key>center</key>
			<string>{1798.0,670.0}</string>
			<key>playerMustStop</key>
			<false/>
		</dict>
		<dict>
			<key>center</key>
			<string>{1798.0,482.0}</string>
			<key>playerMustStop</key>
			<false/>
		</dict>
		<dict>
			<key>center</key>
			<string>{1798.0,294.0}</string>
			<key>playerMustStop</key>
			<false/>
		</dict>
		<dict>
			<key>teleportToIndex</key>
			<integer>15</integer>
			<key>center</key>
			<string>{1610.0,294.0}</string>
			<key>playerMustStop</key>
			<false/>
		</dict>
		<dict>
			<key>center</key>
			<string>{1422.0,294.0}</string>
			<key>playerMustStop</key>
			<false/>
		</dict>
		<dict>
			<key>center</key>
			<string>{1234.0,294.0}</string>
			<key>playerMustStop</key>
			<false/>
		</dict>
		<dict>
			<key>teleportToIndex</key>
			<integer>11</integer>
			<key>center</key>
			<string>{1046.0,294.0}</string>
			<key>playerMustStop</key>
			<false/>
		</dict>
		<dict>
			<key>center</key>
			<string>{858.0,294.0}</string>
			<key>playerMustStop</key>
			<false/>
		</dict>
		<dict>
			<key>center</key>
			<string>{670.0,294.0}</string>
			<key>playerMustStop</key>
			<false/>
		</dict>
		<dict>
			<key>center</key>
			<string>{482.0,294.0}</string>
			<key>playerMustStop</key>
			<false/>
		</dict>
		<dict>
			<key>center</key>
			<string>{482.0,482.0}</string>
			<key>playerMustStop</key>
			<true/>
		</dict>
		<dict>
			<key>center</key>
			<string>{482.0,670.0}</string>
			<key>playerMustStop</key>
			<false/>
		</dict>
		<dict>
			<key>center</key>
			<string>{482.0,858.0}</string>
			<key>playerMustStop</key>
			<false/>
		</dict>
		<dict>
			<key>center</key>
			<string>{482.0,1046.0}</string>
			<key>playerMustStop</key>
			<false/>
		</dict>
		<dict>
			<key>center</key>
			<string>{482.0,1234.0}</string>
			<key>playerMustStop</key>
			<false/>
		</dict>
		<dict>
			<key>center</key>
			<string>{482.0,1422.0}</string>
			<key>playerMustStop</key>
			<false/>
		</dict>
		<dict>
			<key>center</key>
			<string>{482.0,1610.0}</string>
			<key>playerMustStop</key>
			<false/>
		</dict>
		<dict>
			<key>center</key>
			<string>{670.0,1610.0}</string>
			<key>playerMustStop</key>
			<false/>
		</dict>
		<dict>
			<key>center</key>
			<string>{858.0,1610.0}</string>
			<key>playerMustStop</key>
			<false/>
		</dict>
		<dict>
			<key>center</key>
			<string>{1046.0,1610.0}</string>
			<key>extraTurn</key>
			<true/>
			<key>playerMustStop</key>
			<false/>
		</dict>
		<dict>
			<key>center</key>
			<string>{1234.0,1610.0}</string>
			<key>playerMustStop</key>
			<false/>
		</dict>
		<dict>
			<key>center</key>
			<string>{1422.0,1610.0}</string>
			<key>playerMustStop</key>
			<true/>
		</dict>
		<dict>
			<key>center</key>
			<string>{1610.0,1610.0}</string>
			<key>playerMustStop</key>
			<false/>
		</dict>
		<dict>
			<key>center</key>
			<string>{1610.0,1422.0}</string>
			<key>playerMustStop</key>
			<false/>
		</dict>
		<dict>
			<key>center</key>
			<string>{1610.0,1234.0}</string>
			<key>playerMustStop</key>
			<false/>
		</dict>
		<dict>
			<key>center</key>
			<string>{1610.0,1046.0}</string>
			<key>playerMustStop</key>
			<false/>
		</dict>
		<dict>
			<key>center</key>
			<string>{1610.0,858.0}</string>
			<key>playerMustStop</key>
			<false/>
		</dict>
		<dict>
			<key>center</key>
			<string>{1610.0,670.0}</string>
			<key>playerMustStop</key>
			<false/>
		</dict>
		<dict>
			<key>center</key>
			<string>{1610.0,482.0}</string>
			<key>playerMustStop</key>
			<false/>
		</dict>
		<dict>
			<key>center</key>
			<string>{1422.0,482.0}</string>
			<key>playerMustStop</key>
			<false/>
		</dict>
		<dict>
			<key>center</key>
			<string>{1234.0,482.0}</string>
			<key>playerMustStop</key>
			<true/>
		</dict>
		<dict>
			<key>center</key>
			<string>{1046.0,482.0}</string>
			<key>playerMustStop</key>
			<false/>
		</dict>
		<dict>
			<key>center</key>
			<string>{858.0,482.0}</string>
			<key>playerMustStop</key>
			<false/>
		</dict>
		<dict>
			<key>center</key>
			<string>{670.0,482.0}</string>
			<key>playerMustStop</key>
			<false/>
		</dict>
		<dict>
			<key>center</key>
			<string>{670.0,670.0}</string>
			<key>playerMustStop</key>
			<false/>
		</dict>
		<dict>
			<key>center</key>
			<string>{670.0,858.0}</string>
			<key>playerMustStop</key>
			<false/>
		</dict>
		<dict>
			<key>center</key>
			<string>{670.0,1046.0}</string>
			<key>playerMustStop</key>
			<true/>
		</dict>
		<dict>
			<key>center</key>
			<string>{670.0,1234.0}</string>
			<key>playerMustStop</key>
			<false/>
		</dict>
		<dict>
			<key>center</key>
			<string>{670.0,1422.0}</string>
			<key>playerMustStop</key>
			<false/>
		</dict>
		<dict>
			<key>center</key>
			<string>{858.0,1422.0}</string>
			<key>playerMustStop</key>
			<false/>
		</dict>
		<dict>
			<key>center</key>
			<string>{1046.0,1422.0}</string>
			<key>playerMustStop</key>
			<false/>
		</dict>
		<dict>
			<key>center</key>
			<string>{1234.0,1422.0}</string>
			<key>playerMustStop</key>
			<true/>
		</dict>
		<dict>
			<key>center</key>
			<string>{1422.0,1422.0}</string>
			<key>playerMustStop</key>
			<false/>
		</dict>
		<dict>
			<key>center</key>
			<string>{1422.0,1234.0}</string>
			<key>playerMustStop</key>
			<false/>
		</dict>
		<dict>
			<key>center</key>
			<string>{1422.0,1046.0}</string>
			<key>playerMustStop</key>
			<false/>
		</dict>
		<dict>
			<key>center</key>
			<string>{1422.0,858.0}</string>
			<key>playerMustStop</key>
			<false/>
		</dict>
		<dict>
			<key>center</key>
			<string>{1422.0,670.0}</string>
			<key>playerMustStop</key>
			<true/>
		</dict>
		<dict>
			<key>center</key>
			<string>{1234.0,670.0}</string>
			<key>playerMustStop</key>
			<true/>
		</dict>
		<dict>
			<key>center</key>
			<string>{1046.0,670.0}</string>
			<key>playerMustStop</key>
			<true/>
		</dict>
		<dict>
			<key>center</key>
			<string>{858.0,670.0}</string>
			<key>playerMustStop</key>
			<true/>
		</dict>
	</array>
	<key>rulesCenter</key>
	<string>{1050,1050}</string>
	<key>rulesDiameter</key>
	<string>500</string>
</dict>
</plist>
